* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.board {
  min-width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.slot {
  border: 1px solid red; 
  display: flex;
  align-items: center;
}

.ship {
  background-color: blue;
  height: 100%;
  width: 100%;
  border: 3px solid yellow;
}
