* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.content {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.board {
  min-width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: relative;
}

.slot {
  border: 1px solid rgba(16, 116, 146, 0.548); 
  display: flex;
  align-items: center;
  position: relative;
}

.ship {
  background-color: blue;
  height: 50px;
  border: 3px solid yellow;
  cursor: move!important;
  position: absolute!important;
  z-index: 1;
}

.slot:has(> .rotated) {
  rotate: 90deg;
  z-index: 2;
}

.l5 {
  width: calc(50px * 5);
}

.l4 {
  width: calc(50px * 4);
}

.l3 {
  width: calc(50px * 3);
}

.l2 {
  width: calc(50px * 2);
}

.l1 {
  width: 50px
}